//
// load the User Setup dialog box
//
#include "mainmenu.rc"
#include "cmessbox.rc"
#include "audiocfg.rc"     

#include "dimens.h" 

//////////////////////////////////////////////////////////////////////////////
//
// Rules Control Definitions
//


#define IDD_RULES_DIALOG	900
#define IDC_RULES_OKAY		900

#define IDC_RULES_ARROWDN   901
#define IDC_RULES_ARROWUP   902
#define IDC_RULES_INVALID   903

//////////////////////////////////////////////////////////////////////////////
//
// Rules Dialog
//

IDD_RULES_DIALOG DIALOG DISCARDABLE  0, 0, 185, 92
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,74,71,36,14,BS_OWNERDRAW
END


//////////////////////////////////////////////////////////////////////////////
//
// Rules Cursors
//

IDC_RULES_ARROWDN	CURSOR  DISCARDABLE     "ARROWDN.CUR"
IDC_RULES_ARROWUP	CURSOR  DISCARDABLE     "ARROWUP.CUR"
IDC_RULES_INVALID	CURSOR  DISCARDABLE     "INVALID.CUR"

/////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////
//
// Icon
//

AFX_IDI_STD_FRAME       ICON    DISCARDABLE     "NOVAC.ICO"

#if _STRINGTABLE
STRINGTABLE  LOADONCALL
BEGIN    
	IDS_RULES					".\\novac.txt"						//	rules text file.
    IDS_MIDI_FILE				".\\sound\\shotmac.mid"         //background music        
	IDS_RULES_WAV		".\\sound\\rlnv.wav"					//rules wave file
	IDS_CREAKING_DOOR_CLOSING ".\\sound\\doorclos.wav" //creaking/slamming  door closing.
	IDS_CREAKING_DOOR_OPENING ".\\sound\\dooropen.wav" //creaking  door opening.    
	IDS_ROLLING_DICE_WAVE            ".\\sound\\dice2.wav"       //rolling of dice.
	IDS_EXTRA					".\\sound\\extra.wav"                             // newspaper EasterEgg
	IDS_GHOST					".\\sound\\ghost.wav"                            // bottle EasterEgg
	IDS_HAT							".\\sound\\hat.wav"
	IDS_MEOW      				".\\sound\\meow.wav"	
	IDS_HICCUPS               ".\\sound\\hiccups.wav"
	IDS_SORRY,					".\\sound\\sorry.wav"       
	IDS_SOSORRY				".\\sound\\sosorry.wav"       
	IDS_NOPE      				".\\sound\\nope.wav"	
	IDS_APPLAUSE			".\\sound\\applause.wav"         
	IDS_FOOTSTEP 			".\\sound\\footstep.wav"
	IDS_SINGRAIN 				".\\sound\\singrain.wav" 
	IDS_SHAKE					".\\SOUND\\SHAKE.WAV"
	IDS_ROLL					".\\SOUND\\ROLL.WAV"                                                          
	
	IDS_MINI_GAME_MAP   ".\\ART\\NOVACSY3.BMP"         //splash screen         
	
	IDS_ROLLING_LDIE_ANIMATION ".\\art\\ld.bmp"                      //the 2-dice case cell strip for leftdie (white bckgnd)
	IDS_ROLLING_RDIE_ANIMATION ".\\art\\rd.bmp"                      //the 2-dice case cell strip for r-die (white bckgnd)
	IDS_BOTTLE_STRIP_door_closed	".\\art\\bottle1.bmp"
	IDS_HAT4_STRIP_door_open	".\\art\\cat_open.bmp"
	IDS_HAT4_STRIP_door_closed	".\\art\\cat_clsd.bmp"
	
		IDS_NO_LEFT_DIE		".\\ART\\lspot.bmp"               //the bmp of floor below THE LEFt die.
		IDS_lROLLED_1 			".\\ART\\l1.BMP"              //	dice rolls.
		IDS_lROLLED_2 			".\\ART\\l2.BMP"
		IDS_lROLLED_3 			".\\ART\\l3.BMP"
		IDS_lROLLED_4 			".\\ART\\l4.BMP"
		IDS_lROLLED_5 			".\\ART\\l5.BMP"
		IDS_lROLLED_6 			".\\ART\\l6.BMP"                                                    
		
		IDS_NO_RIGHT_DIE	".\\ART\\rspot.bmp"               //the bmp of floor below THE right die.
		IDS_rROLLED_1 			".\\ART\\r1.BMP"              //	dice rolls.
		IDS_rROLLED_2 			".\\ART\\r2.BMP"
		IDS_rROLLED_3 			".\\ART\\r3.BMP"
		IDS_rROLLED_4 			".\\ART\\r4.BMP"
		IDS_rROLLED_5 			".\\ART\\r5.BMP"
		IDS_rROLLED_6 			".\\ART\\r6.BMP"        
		
	
		IDS_DOOR_MONOLITHE    ".\\ART\\ALLDOORS.BMP"
		IDS_DICE_MONOLITHE	".\\ART\\DIESTRP2.BMP"
	
		IDS_D1                  ".\\ART\\DO1.BMP" 			//	cell strips of doors.                                                                              
		IDS_D2                  ".\\ART\\DO2.BMP"                                                                               
		IDS_D3                  ".\\ART\\DO3.BMP"                                                                               
		IDS_D4                  ".\\ART\\DO4.BMP"                                                                               
		IDS_D5                  ".\\ART\\DO5.BMP"                                                                               
		IDS_D6                  ".\\ART\\DO6.BMP"                                                                               
		IDS_D7                  ".\\ART\\DO7.BMP"                                                                               
		IDS_D8                  ".\\ART\\DO8.BMP"                                                                               
		IDS_D9                  ".\\ART\\DO9.BMP" 
END
#endif //_STRINGTABLE

