{
    BasedOnStyle: LLVM,
    UseTab: ForIndentation,
    IndentWidth: 4,
    TabWidth: 4,
    BreakBeforeBraces: Attach,
    IndentCaseLabels: false,
    ColumnLimit: 0,
    AccessModifierOffset: -4,
    NamespaceIndentation: None,
    SpaceBeforeParens: ControlStatements,
    PointerAlignment: Right,
    SpaceAfterCStyleCast: false,
    SpaceAfterTemplateKeyword: false,
    SpaceBeforeAssignmentOperators: true,
    SpaceBeforeCtorInitializerColon: true,
    SpaceBeforeInheritanceColon: true, 
    SpaceInEmptyParentheses: false,
    SpacesInAngles: false,
    SpacesInParentheses: false,
    SpacesInSquareBrackets: false,
    Standard: c++03,
}
