/po/cs_CZ.po encoding=iso-8859-2
/po/hu_HU.po encoding=iso-8859-2
/po/pl_PL.po encoding=iso-8859-2
/po/be_BY.po encoding=iso-8859-5
/po/ru_RU.po encoding=iso-8859-5
/po/uk_UA.po encoding=iso-8859-5
/po/el.po encoding=iso-8859-7
/po/he.po encoding=iso-8859-8
*.lingo	encoding=MacRoman
