
*~
.*.swp
.*.swo
*.o
*.dwo
scummvm.dwp
lib*.a
.deps

/config.log
/scummvm
/libscummvm.so
/scummvm-static
/ScummVMDockTilePlugin*
/config.h
/config.mk
/.gdb_history
/dumps
/Credits.rtf
/*.mshark
/*.dSYM
/MT32_CONTROL.ROM
/MT32_PCM.ROM
/ScummVM.app
/scummvm.docktileplugin
/\!ScummVM
/*,e1f
/scummvm-ps3.pkg
/*.ipk
/map.txt
*.elf
/*.nds
/.project
/.cproject
/.settings
/.autotools
/Icon.*
/scummvm-conf.cpp
/tmp_*.cpp
/*.apk
/CMakeLists.txt

/README
/README.html*
/NEWS
/NEWS.html
/CONTRIBUTING
/CONTRIBUTING.html
/doc/de/NEUES
/doc/de/NEUES.html
/doc/docportal/_build

/build*
/staging
/portdist

/backends/platform/dc/gui
/backends/platform/dc/graphics
/backends/platform/dc/sound
/backends/platform/dc/common
/backends/platform/dc/base
/backends/platform/dc/backends
/backends/platform/dc/tools
/backends/platform/dc/plugins
/backends/platform/dc/engines
/backends/platform/dc/scummvm.elf
/backends/platform/dc/scummvm.bin
/backends/platform/dc/SCUMMVM.BIN
/backends/platform/dc/*.PLG

/backends/platform/ds/arm7/arm7.bin
/backends/platform/ds/arm7/build
/backends/platform/ds/arm7/source/libcartreset/*.bak
/backends/platform/ds/arm7/source/libcartreset/*.d
/backends/platform/ds/arm9/data/*.h
/backends/platform/ds/arm9/scummvm-?

/backends/platform/maemo/scummvm

/backends/platform/symbian/mmp/*.mmp
/backends/platform/symbian/*/ScummVM_*.mmp
!/backends/platform/symbian/*/ScummVM_*_App.mmp
/backends/platform/symbian/*/BLD.INF

/dists/rpl.exe

/dists/codeblocks/*.cbp
/dists/codeblocks/*.depend
/dists/codeblocks/*.layout
/dists/codeblocks/scummvm*

/doc/doxygen/html
/doc/doxygen/doxygen_warnings.txt

#Ignore XCode user data and build files
xcuserdata
project.xcworkspace
/dists/iphone/build
/dists/iphone/scummvm.xcodeproj
/dists/iphone/create_project
/dists/macosx/build
/dists/macosx/scummvm.xcodeproj
/dists/macosx/create_project

/dists/msvc/[Dd]ebug*/
/dists/msvc/[Rr]elease*/
/dists/msvc/[Aa]nalysis*/
/dists/msvc/*.lib
/dists/msvc/*.SAV
/dists/msvc/*.dat
/dists/msvc/*.dll
/dists/msvc/test_runner.cpp

/dists/engine-data/testbed-audiocd-files/testbed.config
/dists/engine-data/testbed-audiocd-files/testbed.out


/doc/*.aux
/doc/*.dvi
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.ps
/doc/*.toc

/plugins

/engines/detection_table.h
/engines/plugins_table.h
/engines/engines.mk

/test/runner
/test/runner.cpp
/test/*.dSYM

/devtools/convbdf
/devtools/convbdf.dSYM
/devtools/md5table
/devtools/make-scumm-fontdata
/devtools/create_access/create_access
/devtools/create_cryo/create_cryo_dat
/devtools/create_cryomni3d/create_cryomni3d_dat
/devtools/create_drascula/create_drascula
/devtools/create_glk/create_glk
/devtools/create_hugo/create_hugo
/devtools/create_kyradat/create_kyradat
/devtools/create_lure/create_lure
/devtools/create_mortdat/create_mortdat
/devtools/create_myst3/create_myst3
/devtools/create_neverhood/create_neverhood
/devtools/create_project/create_project
/devtools/create_supernova/create_supernova
/devtools/create_supernova/create_image/create_image
/devtools/create_teenagent/create_teenagent
/devtools/create_titanic/create_titanic
/devtools/create_tony/create_tony
/devtools/create_toon/create_toon
/devtools/create_translations/create_translations
/devtools/create_ultima/create_ultima
/devtools/create_xeen/create_xeen
/devtools/extract_mort/extract_mort
/devtools/qtable/qtable
/devtools/skycpt/skycpt

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.opendb
obj/
_ReSharper*/
ipch/
[Tt]est[Rr]esult*
*.vcproj
*.sln
*.vsprops
*.props
*.vcxproj*
*.bat
*.tss
*.VC.db
.vs/
UpgradeLog.htm

#Ignore default Visual Studio build folders
[Dd]ebug/
[Rr]elease/
[Dd]ebug32/
[Rr]elease32/
[Dd]ebug64/
[Rr]elease64/
LLVM32/
LLVM64/

#Ignore files generated by Visual Studio Code
.vscode/
compile_commands.json

#Ignore gettext generated files
/messages.mo

#Ignore Qt Creator project files
ScummVM.config
ScummVM.creator
ScummVM.files
ScummVM.includes

#Ignore Komodo IDE/Edit project files
*.komodoproject

#Ignore Mac DS_Store files
.DS_Store

#Ignore MS Visual C++ temporary files/subdirectories (except create_project.bat)
dists/msvc/**
!dists/msvc/create_project.bat

#Ignore bison debug output
*.output

#Ignore CMake build files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
.ninja_*
*.ninja

#Ignore Xcode output/project files
out/
/*.xcodeproj

#Ignore PSP2 files
psp2pkg/
*.velf
*.vpk

#Ignore Switch files
switch_release/
scummvm.elf
scummvm.nro
scummvm_switch.zip

#Ignore gmon.out created by gprof
gmon.out
/scummvm_libs_2015

#Ignore Eclipse related files (such as a Java plugin for Visual Studio Code)
.settings
.project

#Ignore Android Studio files
.idea

#Ignore temporary Android project folder
android_project

#Ignore snapcraft build artifacts
.snap
