
*~
.*.swp
.*.swo
*.o
lib*.a
.deps

/config.log
/scummvm
/scummvm-static
/config.h
/config.mk
/.gdb_history
/dumps
/Credits.rtf
/*.mshark
/*.dSYM
/MT32_CONTROL.ROM
/MT32_PCM.ROM
/ScummVM.app
/scummvm-ps3.pkg
/*.ipk
/.project
/.cproject
/.settings
/.autotools
/Icon.*

/build
/staging

/backends/platform/dc/gui
/backends/platform/dc/graphics
/backends/platform/dc/sound
/backends/platform/dc/common
/backends/platform/dc/base
/backends/platform/dc/backends
/backends/platform/dc/tools
/backends/platform/dc/plugins
/backends/platform/dc/engines
/backends/platform/dc/scummvm.elf
/backends/platform/dc/scummvm.bin
/backends/platform/dc/SCUMMVM.BIN
/backends/platform/dc/*.PLG

/backends/platform/ds/arm7/arm7.bin
/backends/platform/ds/arm7/build
/backends/platform/ds/arm7/source/libcartreset/*.bak
/backends/platform/ds/arm7/source/libcartreset/*.d
/backends/platform/ds/arm9/scummvm-?

/backends/platform/maemo/scummvm

/backends/platform/wince/scummvm.exe*
/backends/platform/wince/sound
/backends/platform/wince/tools
/backends/platform/wince/gui
/backends/platform/wince/engines
/backends/platform/wince/common
/backends/platform/wince/libs
/backends/platform/wince/graphics
/backends/platform/wince/base
/backends/platform/wince/backends
/backends/platform/wince/.deps
/backends/platform/wince/libscummvm.a
/backends/platform/wince/plugins
/backends/platform/wince/scummvm.dll
/backends/platform/wince/*.swp

/dists/rpl.exe

/dists/codeblocks/*.cbp
/dists/codeblocks/*.depend
/dists/codeblocks/*.layout
/dists/codeblocks/scummvm*

#Ignore XCode user data and build files
xcuserdata
project.xcworkspace
/dists/iphone/build
/dists/iphone/scummvm.xcodeproj
/dists/iphone/create_project
/dists/macosx/build
/dists/macosx/scummvm.xcodeproj
/dists/macosx/create_project

/dists/msvc*/[Dd]ebug*/
/dists/msvc*/[Rr]elease*/
/dists/msvc*/[Aa]nalysis*/
/dists/msvc*/*.lib
/dists/msvc*/*.SAV
/dists/msvc*/*.dat
/dists/msvc*/*.dll

/doc/*.aux
/doc/*.dvi
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.ps
/doc/*.toc

/plugins

/test/runner
/test/runner.cpp
/test/*.dSYM

/devtools/convbdf
/devtools/md5table
/devtools/make-scumm-fontdata
/devtools/create_drascula/create_drascula
/devtools/create_hugo/create_hugo
/devtools/create_kyradat/create_kyradat
/devtools/create_lure/create_lure
/devtools/create_mads/create_mads
/devtools/create_project/create_project
/devtools/create_teenagent/create_teenagent
/devtools/create_toon/create_toon
/devtools/create_translations/create_translations
/devtools/qtable/qtable
/devtools/skycpt/skycpt

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
obj/
_ReSharper*/
ipch/
[Tt]est[Rr]esult*
*.vcproj
*.sln
*.vsprops
*.props
*.vcxproj*
*.bat
*.tss

#Ignore default Visual Studio build folders
[Dd]ebug/
[Rr]elease/

#Ignore Qt Creator project files
ScummVM.config
ScummVM.creator
ScummVM.files
ScummVM.includes
