
*~
.*.swp
.*.swo
*.o
lib*.a
.deps

/config.log
/residual
/residual-static
/config.h
/config.mk
/.gdb_history
/dumps
/Credits.rtf
/*.mshark
/*.dSYM
/MT32_CONTROL.ROM
/MT32_PCM.ROM
/Residual.app
/*.ipk
/.project
/.cproject
/.settings

/build
/dists/codeblocks/*.cbp
/dists/codeblocks/*.depend
/dists/codeblocks/*.layout
/dists/codeblocks/scummvm*

/dists/msvc*/[Dd]ebug*/
/dists/msvc*/[Rr]elease*/
/dists/msvc*/*.lib
/dists/msvc*/*.SAV
/dists/msvc*/*.dat
/dists/msvc*/*.dll

/plugins
/devtools/create_project/create_project

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
obj/
_ReSharper*/
ipch/
[Tt]est[Rr]esult*
*.vcproj
*.sln
*.vsprops
*.props
*.vcxproj*
*.bat
*.tss

#Ignore default Visual Studio build folders
[Dd]ebug*/
[Rr]elease*/
