repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.2
  hooks:
  - id: clang-format
- repo: local
  hooks:
    - id: check-commit-msg
      name: check-commit-msg
      language: python
      entry: devtools/check-commit-msg.py
      stages: [ commit-msg ]
