<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>scummvm</string>
	<key>CFBundleGetInfoString</key>
	<string>0.3.1cvs, Copyright 2001-2003 The ScummVM team</string>
	<key>CFBundleIconFile</key>
	<string>scummvm.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>scummvm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.1cvs</string>
	<key>CFBundleVersion</key>
	<string>0.3.1cvs</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2001-2003 The ScummVM team</string>
</dict>
</plist>
