<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ResidualVM</string>
	<key>CFBundleExecutable</key>
	<string>residualvm</string>
	<key>CFBundleGetInfoString</key>
	<string>0.4.0git, Copyright 2003-2017 The ResidualVM Team</string>
	<key>CFBundleIconFile</key>
	<string>residualvm.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>be</string>
		<string>ca</string>
		<string>cs</string>
		<string>da</string>
		<string>de</string>
		<string>es</string>
		<string>eu</string>
		<string>fi</string>
		<string>fr</string>
		<string>gl</string>
		<string>hu</string>
		<string>it</string>
		<string>nb</string>
		<string>nl</string>
		<string>nn</string>
		<string>pl</string>
		<string>pt</string>
		<string>ru</string>
		<string>se</string>
		<string>uk</string>
	</array>
	<key>CFBundleName</key>
	<string>ResidualVM</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.0git</string>
	<key>CFBundleVersion</key>
	<string>0.4.0git</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2003-2017 The ResidualVM Team</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://www.residualvm.org/appcasts/macosx/release.xml</string>
	<key>NSDockTilePlugIn</key>
	<string>residualvm.docktileplugin</string>
</dict>
</plist>
