Source: scummvm
Section: games
Priority: optional
Maintainer: Tore Anderson <tore@debian.org>
Build-Depends: debhelper (>> 4.0.0), nasm [i386], libsdl1.2-dev, libmad0-dev, libasound2-dev, libvorbis-dev (>= 1.0.0-2), libmpeg2-4-dev, libflac-dev (>= 1.1.1-2), libz-dev, libfluidsynth-dev
Standards-Version: 3.6.1.1

Package: scummvm
Architecture: any
Depends: ${shlibs:Depends}
Suggests: fluidsynth | timidity, beneath-a-steel-sky, flight-of-the-amazon-queen
Description: free implementation of LucasArts' S.C.U.M.M interpreter
 ScummVM is a 'virtual machine' for several classic graphical
 point-and-click adventure games.  It is designed to run Adventure Soft's
 Simon the Sorcerer 1 and 2, Revolution's Beneath A Steel Sky, and games
 based on LucasArts' S.C.U.M.M (Script Creation Utility for Maniac Mansion)
 system.  S.C.U.M.M is used for many games, including Monkey Island,
 Day of the Tentacle, Sam and Max and more.  See the official compatibility
 list at <http://www.scummvm.org/compatibility_stable.php> for a full list
 of supported games.
 .
 The game data of two games compatible with ScummVM is included in Debian.
 These are:
 .
  - Beneath a Steel Sky        (package name: beneath-a-steel-sky)
  - Flight of the Amazon Queen (package name: flight-of-the-amazon-queen)
 .
 To actually make use of ScummVM, you'll have to install one of these, or
 obtain the proprietary game data for another supported game from somewhere
 else.
