#!/usr/bin/make -f

export DH_COMPAT=3

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	export CXXFLAGS += -g
endif

build:
	dh_testdir
	./configure
	$(MAKE)

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/changelog
	-$(MAKE) clean

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	install -m0755 scummvm $(CURDIR)/debian/scummvm-cvs/usr/games/scummvm
	install -m0644 scummvm.xpm $(CURDIR)/debian/scummvm-cvs/usr/share/icons

binary: binary-arch binary-indep

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs NEWS
	dh_installman
	dh_installmenu
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

.PHONY: build clean binary install binary-arch binary-indep
