#!/usr/bin/make -f

%:
	dh $@ --parallel --max-parallel=`nproc`

ifeq ($(DEB_BUILD_ARCH_OS),hurd)
ARCH_OPTS:= --disable-alsa
endif
ifeq ($(DEB_BUILD_ARCH_OS),kfreebsd)
ARCH_OPTS:= --disable-alsa
endif

override_dh_auto_configure:
	./configure --prefix=/usr --bindir=/usr/games --datadir=/usr/share/residualvm --enable-release ${ARCH_OPTS}

override_dh_auto_test:

override_dh_builddeb:
	dh_builddeb -- -Zxz

