//////////////////////////////////////////////////////////////////////////////
//
// Dialog

321 DIALOG DISCARDABLE  0, 0, 131, 110
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "",IDOK,38,80,50,14, BS_OWNERDRAW
END
