html {
	background: rgb(212, 117, 11);
	background: linear-gradient(to bottom, rgb(212, 117, 11) 0%, rgb(212, 117, 11) 36%, rgb(239, 196, 24) 100%);
	height: 100vh;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.header {
	padding: 10pt;
	margin-bottom: 0;
}

.content {
	padding: 8pt;
	background: rgb(251, 241, 206);
	font-family: Tahoma;
	font-size: 16pt;
}

.content p { margin: 0 0 6pt 0; }
