//////////////////////////////////////////////////////////////////////////////
//
// Dialog                       131

321 DIALOG DISCARDABLE  0, 0, 50, 220
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "",IDOK,25,215,50,14, BS_OWNERDRAW
END
