[Desktop Entry]
Name=ScummVM
Comment=Interpreter for numerous adventure games and RPGs
Comment[ar]=مترجم للعديد من ألعاب المغامرات ولعب الأدوار
Comment[be@tarask]=Інтэрпрэтатар многіх авантурных і ролявых гульняў
Comment[ca]=Intèrpret per a nombrosos jocs d'aventura i jocs de rol
Comment[cs]=Interpret pro řadu her žánru adventur a her na hrdiny
Comment[de]=Interpreter für zahlreiche Adventure-Spiele und RPGs
Comment[es]=Intérprete de numerosas aventuras gráficas y RPG
Comment[eu]=Hainbat abentura eta rol jokoren interpretatzailea
Comment[fi]=Pelitulkki lukuisille seikkailu- ja roolipeleille
Comment[fr]=Interpréteur pour de nombreux jeux d'aventure et jeux de rôle
Comment[he]=מפרש עבור מספר גדול של משחקי הרפתקאות ומשחקי תפקידים
Comment[hu]=Tolmács számos kalandjátékhoz és szerepjátékhoz
Comment[it]=Interprete per numerosi giochi di avventura e di ruolo
Comment[ja]=数多くのアドベンチャーゲームやロールプレイングゲームの通訳
Comment[ko]=다양한 어드벤처 게임과 롤플레잉 게임 통역기
Comment[nb]=Programvaretolk for utallige eventyr- og rollespill
Comment[nl]=Interpreter voor diverse adventure spellen en rollenspellen
Comment[pl]=Interpreter wielu gier przygodowych oraz RPG
Comment[pt_BR]=Interpretador para vários jogos de aventura e RPG
Comment[pt_PT]=Interpretador de vários jogos de aventura e RPGs
Comment[ru]=Интерпретатор множества приключенческих и ролевых игр
Comment[sv]=Tolk för ett flertal äventyrsspel och rollspel
Comment[uk]=Інтерпретатор для численних пригодницьких і рольових ігор
Comment[zh_CN]=适用于无数冒险与角色扮演游戏的解释器
Exec=scummvm
Icon=org.scummvm.scummvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;RolePlaying;
StartupNotify=false
StartupWMClass=scummvm
