#include "winresrc.h"

#ifdef HAVE_CONFIG_H
#include "config.h"
#endif

#define FILE 256
#define IDI_ICON  1001
#define IDI_COUNT 1002

IDI_ICON               ICON    DISCARDABLE     "icons/residualvm.ico"
IDI_COUNT              ICON    DISCARDABLE     "icons/count.ico"

residualvm-grim-patch.lab        FILE    "dists/engine-data/residualvm-grim-patch.lab"
residualvm-emi-patch.m4b        FILE    "dists/engine-data/residualvm-emi-patch.m4b"
#if ENABLE_MYST3 == STATIC_PLUGIN
myst3.dat                        FILE    "dists/engine-data/myst3.dat"
#endif
modern.zip        FILE    "gui/themes/modern.zip"
#ifdef USE_TRANSLATION
translations.dat       FILE    "gui/themes/translations.dat"
#endif

#ifdef USE_OPENGL_SHADERS
#if ENABLE_GRIM == STATIC_PLUGIN
shaders/dim.fragment             FILE    "engines/grim/shaders/dim.fragment"
shaders/dim.vertex               FILE    "engines/grim/shaders/dim.vertex"
shaders/emerg.fragment           FILE    "engines/grim/shaders/emerg.fragment"
shaders/emerg.vertex             FILE    "engines/grim/shaders/emerg.vertex"
shaders/emi_actor.fragment       FILE    "engines/grim/shaders/emi_actor.fragment"
shaders/emi_actor.vertex         FILE    "engines/grim/shaders/emi_actor.vertex"
shaders/emi_background.fragment  FILE    "engines/grim/shaders/emi_background.fragment"
shaders/emi_background.vertex    FILE    "engines/grim/shaders/emi_background.vertex"
shaders/emi_dimplane.fragment    FILE    "engines/grim/shaders/emi_dimplane.fragment"
shaders/emi_dimplane.vertex      FILE    "engines/grim/shaders/emi_dimplane.vertex"
shaders/grim_actor.fragment      FILE    "engines/grim/shaders/grim_actor.fragment"
shaders/grim_actor.vertex        FILE    "engines/grim/shaders/grim_actor.vertex"
shaders/grim_background.fragment FILE    "engines/grim/shaders/grim_background.fragment"
shaders/grim_background.vertex   FILE    "engines/grim/shaders/grim_background.vertex"
shaders/grim_primitive.fragment  FILE    "engines/grim/shaders/grim_primitive.fragment"
shaders/grim_primitive.vertex    FILE    "engines/grim/shaders/grim_primitive.vertex"
shaders/shadowplane.fragment     FILE    "engines/grim/shaders/shadowplane.fragment"
shaders/shadowplane.vertex       FILE    "engines/grim/shaders/shadowplane.vertex"
shaders/smush.fragment           FILE    "engines/grim/shaders/smush.fragment"
shaders/smush.vertex             FILE    "engines/grim/shaders/smush.vertex"
shaders/text.fragment            FILE    "engines/grim/shaders/text.fragment"
shaders/text.vertex              FILE    "engines/grim/shaders/text.vertex"
#endif
#if ENABLE_MYST3 == STATIC_PLUGIN
shaders/myst3_box.fragment       FILE    "engines/myst3/shaders/myst3_box.fragment"
shaders/myst3_box.vertex         FILE    "engines/myst3/shaders/myst3_box.vertex"
shaders/myst3_cube.fragment      FILE    "engines/myst3/shaders/myst3_cube.fragment"
shaders/myst3_cube.vertex        FILE    "engines/myst3/shaders/myst3_cube.vertex"
shaders/myst3_text.fragment      FILE    "engines/myst3/shaders/myst3_text.fragment"
shaders/myst3_text.vertex        FILE    "engines/myst3/shaders/myst3_text.vertex"
#endif
#if ENABLE_STARK == STATIC_PLUGIN
shaders/stark_actor.fragment     FILE    "engines/stark/shaders/stark_actor.fragment"
shaders/stark_actor.vertex       FILE    "engines/stark/shaders/stark_actor.vertex"
shaders/stark_prop.fragment      FILE    "engines/stark/shaders/stark_prop.fragment"
shaders/stark_prop.vertex        FILE    "engines/stark/shaders/stark_prop.vertex"
shaders/stark_surface.fragment   FILE    "engines/stark/shaders/stark_surface.fragment"
shaders/stark_surface.vertex     FILE    "engines/stark/shaders/stark_surface.vertex"
shaders/stark_fade.fragment      FILE    "engines/stark/shaders/stark_fade.fragment"
shaders/stark_fade.vertex        FILE    "engines/stark/shaders/stark_fade.vertex"
#endif
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     0,4,0,0
 PRODUCTVERSION  0,4,0,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS       VS_FF_DEBUG
#else
 FILEFLAGS       0
#endif
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "residualvm.org\0"
            VALUE "FileDescription", "http://www.residualvm.org/\0"
            VALUE "FileVersion", "0.4.0git\0"
            VALUE "InternalName", "residualvm\0"
            VALUE "LegalCopyright", "Copyrights information are in AUTHORS file\0"
            VALUE "OriginalFilename", "residualvm.exe\0"
            VALUE "ProductName", "ResidualVM\0"
            VALUE "ProductVersion", "0.4.0git\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // US English, Unicode
    END
END
