#include "winresrc.h"

#if defined (__MINGW32__) || defined(__CYGWIN32__) || defined(HAS_INCLUDE_SET)
IDI_ICON               ICON    DISCARDABLE     "icons/residual.ico"
#else
IDI_ICON               ICON    DISCARDABLE     "../../icons/residual.ico"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     0,0,7,0
 PRODUCTVERSION  0,0,7,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS       VS_FF_DEBUG
#else
 FILEFLAGS       0
#endif
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "Comments", "\0"
            VALUE "FileDescription", "http://residual.sourceforge.net/\0"
            VALUE "FileVersion", "0.0.7git\0"
            VALUE "InternalName", "residual\0"
            VALUE "LegalCopyright", "Copyrights information are in AUTHORS file\0"
            VALUE "OriginalFilename", "residual.exe\0"
            VALUE "ProductName", "Residual\0"
            VALUE "ProductVersion", "0.0.7git\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // US English, Unicode
    END
END
