[Desktop Entry]
Name=ResidualVM
Comment=Interpreter for several 3D games
Exec=residualvm
Icon=residualvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;
StartupNotify=false
