#include "winresrc.h"

#ifdef HAVE_CONFIG_H
#include "config.h"
#endif

#include "base/internal_plugins.h" // for PLUGIN_ENABLED_STATIC
#include "base/internal_version.h"

#define FILE 256
#define IDI_ICON  1001
#define IDI_COUNT 1002
#define ID_GDF_XML __GDF_XML

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "dists/win32/scummvm.exe.manifest"

// Common resources
IDI_ICON               ICON    "icons/scummvm.ico"
IDI_COUNT              ICON    "icons/count.ico"

ID_GDF_XML             DATA    "dists/win32/scummvm.gdf.xml"

scummclassic.zip       FILE    "gui/themes/scummclassic.zip"
scummmodern.zip        FILE    "gui/themes/scummmodern.zip"
scummremastered.zip    FILE    "gui/themes/scummremastered.zip"
residualvm.zip         FILE    "gui/themes/residualvm.zip"
gui-icons.dat          FILE    "gui/themes/gui-icons.dat"
shaders.dat            FILE    "gui/themes/shaders.dat"

#include "dists/scummvm_rc_engine_data_core.rh"

#ifdef USE_FLUIDSYNTH
Roland_SC-55.sf2       FILE    "dists/soundfonts/Roland_SC-55.sf2"
#endif

// Engine or feature specific resources
#ifdef BUILTIN_RESOURCES

#include "dists/scummvm_rc_engine_data.rh"
#include "dists/scummvm_rc_engine_data_big.rh"

#ifdef USE_TRANSLATION
translations.dat       FILE    "gui/themes/translations.dat"
#endif
#ifdef USE_SDL_NET
wwwroot.zip            FILE    "dists/networking/wwwroot.zip"
#endif

#if defined(USE_OPENGL_SHADERS)
#if PLUGIN_ENABLED_STATIC(GRIM)
shaders/grim_dim.fragment            FILE    "engines/grim/shaders/grim_dim.fragment"
shaders/grim_dim.vertex              FILE    "engines/grim/shaders/grim_dim.vertex"
shaders/grim_emerg.fragment          FILE    "engines/grim/shaders/grim_emerg.fragment"
shaders/grim_emerg.vertex            FILE    "engines/grim/shaders/grim_emerg.vertex"
shaders/emi_actor.fragment           FILE    "engines/grim/shaders/emi_actor.fragment"
shaders/emi_actor.vertex             FILE    "engines/grim/shaders/emi_actor.vertex"
shaders/emi_actorlights.fragment     FILE    "engines/grim/shaders/emi_actorlights.fragment"
shaders/emi_actorlights.vertex       FILE    "engines/grim/shaders/emi_actorlights.vertex"
shaders/emi_background.fragment      FILE    "engines/grim/shaders/emi_background.fragment"
shaders/emi_background.vertex        FILE    "engines/grim/shaders/emi_background.vertex"
shaders/emi_dimplane.fragment        FILE    "engines/grim/shaders/emi_dimplane.fragment"
shaders/emi_dimplane.vertex          FILE    "engines/grim/shaders/emi_dimplane.vertex"
shaders/emi_sprite.fragment          FILE    "engines/grim/shaders/emi_sprite.fragment"
shaders/emi_sprite.vertex            FILE    "engines/grim/shaders/emi_sprite.vertex"
shaders/grim_actor.fragment          FILE    "engines/grim/shaders/grim_actor.fragment"
shaders/grim_actor.vertex            FILE    "engines/grim/shaders/grim_actor.vertex"
shaders/grim_actorlights.fragment    FILE    "engines/grim/shaders/grim_actorlights.fragment"
shaders/grim_actorlights.vertex      FILE    "engines/grim/shaders/grim_actorlights.vertex"
shaders/grim_background.fragment     FILE    "engines/grim/shaders/grim_background.fragment"
shaders/grim_background.vertex       FILE    "engines/grim/shaders/grim_background.vertex"
shaders/grim_primitive.fragment      FILE    "engines/grim/shaders/grim_primitive.fragment"
shaders/grim_primitive.vertex        FILE    "engines/grim/shaders/grim_primitive.vertex"
shaders/grim_shadowplane.fragment    FILE    "engines/grim/shaders/grim_shadowplane.fragment"
shaders/grim_shadowplane.vertex      FILE    "engines/grim/shaders/grim_shadowplane.vertex"
shaders/grim_smush.fragment          FILE    "engines/grim/shaders/grim_smush.fragment"
shaders/grim_smush.vertex            FILE    "engines/grim/shaders/grim_smush.vertex"
shaders/grim_text.fragment           FILE    "engines/grim/shaders/grim_text.fragment"
shaders/grim_text.vertex             FILE    "engines/grim/shaders/grim_text.vertex"
#endif
#if PLUGIN_ENABLED_STATIC(MYST3)
shaders/myst3_box.fragment           FILE    "engines/myst3/shaders/myst3_box.fragment"
shaders/myst3_box.vertex             FILE    "engines/myst3/shaders/myst3_box.vertex"
shaders/myst3_cube.fragment          FILE    "engines/myst3/shaders/myst3_cube.fragment"
shaders/myst3_cube.vertex            FILE    "engines/myst3/shaders/myst3_cube.vertex"
shaders/myst3_text.fragment          FILE    "engines/myst3/shaders/myst3_text.fragment"
shaders/myst3_text.vertex            FILE    "engines/myst3/shaders/myst3_text.vertex"
#endif
#if PLUGIN_ENABLED_STATIC(STARK)
shaders/stark_actor.fragment         FILE    "engines/stark/shaders/stark_actor.fragment"
shaders/stark_actor.vertex           FILE    "engines/stark/shaders/stark_actor.vertex"
shaders/stark_prop.fragment          FILE    "engines/stark/shaders/stark_prop.fragment"
shaders/stark_prop.vertex            FILE    "engines/stark/shaders/stark_prop.vertex"
shaders/stark_surface.fragment       FILE    "engines/stark/shaders/stark_surface.fragment"
shaders/stark_surface.vertex         FILE    "engines/stark/shaders/stark_surface.vertex"
shaders/stark_surface_fill.fragment  FILE    "engines/stark/shaders/stark_surface_fill.fragment"
shaders/stark_surface_fill.vertex    FILE    "engines/stark/shaders/stark_surface_fill.vertex"
shaders/stark_fade.fragment          FILE    "engines/stark/shaders/stark_fade.fragment"
shaders/stark_fade.vertex            FILE    "engines/stark/shaders/stark_fade.vertex"
shaders/stark_shadow.fragment        FILE    "engines/stark/shaders/stark_shadow.fragment"
shaders/stark_shadow.vertex          FILE    "engines/stark/shaders/stark_shadow.vertex"
#endif
#if PLUGIN_ENABLED_STATIC(WINTERMUTE)
shaders/wme_fade.fragment               FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_fade.fragment"
shaders/wme_fade.vertex                 FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_fade.vertex"
shaders/wme_flat_shadow_mask.fragment   FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_flat_shadow_mask.fragment"
shaders/wme_flat_shadow_mask.vertex     FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_flat_shadow_mask.vertex"
shaders/wme_flat_shadow_modelx.fragment FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_flat_shadow_modelx.fragment"
shaders/wme_flat_shadow_modelx.vertex   FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_flat_shadow_modelx.vertex"
shaders/wme_geometry.fragment           FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_geometry.fragment"
shaders/wme_geometry.vertex             FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_geometry.vertex"
shaders/wme_line.fragment               FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_line.fragment"
shaders/wme_line.vertex                 FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_line.vertex"
shaders/wme_modelx.fragment             FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_modelx.fragment"
shaders/wme_modelx.vertex               FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_modelx.vertex"
shaders/wme_shadow_mask.fragment        FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_shadow_mask.fragment"
shaders/wme_shadow_mask.vertex          FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_shadow_mask.vertex"
shaders/wme_shadow_volume.fragment      FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_shadow_volume.fragment"
shaders/wme_shadow_volume.vertex        FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_shadow_volume.vertex"
shaders/wme_sprite.fragment             FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_sprite.fragment"
shaders/wme_sprite.vertex               FILE    "engines/wintermute/base/gfx/opengl/shaders/wme_sprite.vertex"
#endif
#if PLUGIN_ENABLED_STATIC(PLAYGROUND3D)
shaders/playground3d_bitmap.fragment    FILE    "engines/playground3d/shaders/playground3d_bitmap.fragment"
shaders/playground3d_bitmap.vertex      FILE    "engines/playground3d/shaders/playground3d_bitmap.vertex"
shaders/playground3d_cube.fragment      FILE    "engines/playground3d/shaders/playground3d_cube.fragment"
shaders/playground3d_cube.vertex        FILE    "engines/playground3d/shaders/playground3d_cube.vertex"
shaders/playground3d_fade.fragment      FILE    "engines/playground3d/shaders/playground3d_fade.fragment"
shaders/playground3d_fade.vertex        FILE    "engines/playground3d/shaders/playground3d_fade.vertex"
#endif
#if PLUGIN_ENABLED_STATIC(HPL1)
shaders/hpl1_Ambient_Color.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_Ambient_Color.fragment"
shaders/hpl1_Bump2D_Light.fragment                     FILE   "engines/hpl1/engine/impl/shaders/hpl1_Bump2D_Light.fragment"
shaders/hpl1_Bump2D_Light.vertex                       FILE   "engines/hpl1/engine/impl/shaders/hpl1_Bump2D_Light.vertex"
shaders/hpl1_BumpColorSpec_Light.fragment              FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpColorSpec_Light.fragment"
shaders/hpl1_BumpColorSpec_Light_Spot.fragment         FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpColorSpec_Light_Spot.fragment"
shaders/hpl1_BumpSpec2D_Light.fragment                 FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpSpec2D_Light.fragment"
shaders/hpl1_BumpSpec2D_Light.vertex                   FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpSpec2D_Light.vertex"
shaders/hpl1_BumpSpec_Light.fragment                   FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpSpec_Light.fragment"
shaders/hpl1_BumpSpec_Light_Spot.fragment              FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpSpec_Light_Spot.fragment"
shaders/hpl1_BumpSpec_Light_Spot_pass2.fragment        FILE   "engines/hpl1/engine/impl/shaders/hpl1_BumpSpec_Light_Spot_pass2.fragment"
shaders/hpl1_Bump_Light.fragment                       FILE   "engines/hpl1/engine/impl/shaders/hpl1_Bump_Light.fragment"
shaders/hpl1_Bump_Light_Spot.fragment                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_Bump_Light_Spot.fragment"
shaders/hpl1_Bump_Light_Spot_pass2.fragment            FILE   "engines/hpl1/engine/impl/shaders/hpl1_Bump_Light_Spot_pass2.fragment"
shaders/hpl1_DiffuseSpec_Light.fragment                FILE   "engines/hpl1/engine/impl/shaders/hpl1_DiffuseSpec_Light.fragment"
shaders/hpl1_DiffuseSpec_Light.vertex                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_DiffuseSpec_Light.vertex"
shaders/hpl1_DiffuseSpec_Light_Spot.fragment           FILE   "engines/hpl1/engine/impl/shaders/hpl1_DiffuseSpec_Light_Spot.fragment"
shaders/hpl1_DiffuseSpec_Light_Spot.vertex             FILE   "engines/hpl1/engine/impl/shaders/hpl1_DiffuseSpec_Light_Spot.vertex"
shaders/hpl1_DiffuseSpec_Light_Spot_pass2.fragment     FILE   "engines/hpl1/engine/impl/shaders/hpl1_DiffuseSpec_Light_Spot_pass2.fragment"
shaders/hpl1_Diffuse_Color.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Color.fragment"
shaders/hpl1_Diffuse_Color.vertex                      FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Color.vertex"
shaders/hpl1_Diffuse_ColorMul.vertex                   FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_ColorMul.vertex"
shaders/hpl1_Diffuse_EnvMap_Reflect.fragment           FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_EnvMap_Reflect.fragment"
shaders/hpl1_Diffuse_EnvMap_Reflect.vertex             FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_EnvMap_Reflect.vertex"
shaders/hpl1_Diffuse_Light.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Light.fragment"
shaders/hpl1_Diffuse_Light.vertex                      FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Light.vertex"
shaders/hpl1_Diffuse_Light_Spot.fragment               FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Light_Spot.fragment"
shaders/hpl1_Diffuse_Light_Spot.vertex                 FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Light_Spot.vertex"
shaders/hpl1_Diffuse_Light_Spot_pass1.fragment         FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Light_Spot_pass1.fragment"
shaders/hpl1_Diffuse_Light_Spot_pass2.fragment         FILE   "engines/hpl1/engine/impl/shaders/hpl1_Diffuse_Light_Spot_pass2.fragment"
shaders/hpl1_Fallback01_Bump_Light.fragment            FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Bump_Light.fragment"
shaders/hpl1_Fallback01_Diffuse_Light_Spot.fragment    FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Diffuse_Light_Spot.fragment"
shaders/hpl1_Fallback01_Diffuse_Light_Spot_p2.vertex   FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Diffuse_Light_Spot_p2.vertex"
shaders/hpl1_Fallback01_Diffuse_Light_p1.fragment      FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Diffuse_Light_p1.fragment"
shaders/hpl1_Fallback01_Diffuse_Light_p1.vertex        FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Diffuse_Light_p1.vertex"
shaders/hpl1_Fallback01_Diffuse_Light_p2.fragment      FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Diffuse_Light_p2.fragment"
shaders/hpl1_Fallback01_Diffuse_Light_p2.vertex        FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback01_Diffuse_Light_p2.vertex"
shaders/hpl1_Fallback02_DIffuse_Light_Spot_p2.fragment FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_DIffuse_Light_Spot_p2.fragment"
shaders/hpl1_Fallback02_DIffuse_Light_Spot_p3.fragment FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_DIffuse_Light_Spot_p3.fragment"
shaders/hpl1_Fallback02_Diffuse_Light_Spot_p2.vertex   FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_Diffuse_Light_Spot_p2.vertex"
shaders/hpl1_Fallback02_Diffuse_Light_Spot_p3.vertex   FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_Diffuse_Light_Spot_p3.vertex"
shaders/hpl1_Fallback02_Diffuse_Light_p1.fragment      FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_Diffuse_Light_p1.fragment"
shaders/hpl1_Fallback02_Diffuse_Light_p1.vertex        FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_Diffuse_Light_p1.vertex"
shaders/hpl1_Fallback02_Diffuse_Light_p2.vertex        FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fallback02_Diffuse_Light_p2.vertex"
shaders/hpl1_Fog_Solid.fragment                        FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fog_Solid.fragment"
shaders/hpl1_Fog_Solid.vertex                          FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fog_Solid.vertex"
shaders/hpl1_Fog_Trans.vertex                          FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fog_Trans.vertex"
shaders/hpl1_Fog_Trans_Alpha.fragment                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fog_Trans_Alpha.fragment"
shaders/hpl1_Fog_Trans_Mod.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fog_Trans_Mod.fragment"
shaders/hpl1_Fog_Trans_ModX2.fragment                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_Fog_Trans_ModX2.fragment"
shaders/hpl1_PostEffect_Bloom.fragment                 FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Bloom.fragment"
shaders/hpl1_PostEffect_Bloom.vertex                   FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Bloom.vertex"
shaders/hpl1_PostEffect_Blur.vertex                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Blur.vertex"
shaders/hpl1_PostEffect_Blur_2D.fragment               FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Blur_2D.fragment"
shaders/hpl1_PostEffect_Blur_Rect.fragment             FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Blur_Rect.fragment"
shaders/hpl1_PostEffect_DoF.fragment                   FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_DoF.fragment"
shaders/hpl1_PostEffect_DoF.vertex                     FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_DoF.vertex"
shaders/hpl1_PostEffect_Fallback01_Blur_2D.fragment    FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Fallback01_Blur_2D.fragment"
shaders/hpl1_PostEffect_Fallback01_Blur_Rect.fragment  FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Fallback01_Blur_Rect.fragment"
shaders/hpl1_PostEffect_Motion.fragment                FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Motion.fragment"
shaders/hpl1_PostEffect_Motion.vertex                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Motion.vertex"
shaders/hpl1_PostEffect_Motion_staticloop.fragment     FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Motion_staticloop.fragment"
shaders/hpl1_PostEffect_Offset.fragment                FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Offset.fragment"
shaders/hpl1_PostEffect_Offset.vertex                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_PostEffect_Offset.vertex"
shaders/hpl1_ShadowExtrude.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_ShadowExtrude.fragment"
shaders/hpl1_ShadowExtrude.vertex                      FILE   "engines/hpl1/engine/impl/shaders/hpl1_ShadowExtrude.vertex"
shaders/hpl1_Water_Diffuse.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_Water_Diffuse.fragment"
shaders/hpl1_Water_Diffuse.vertex                      FILE   "engines/hpl1/engine/impl/shaders/hpl1_Water_Diffuse.vertex"
shaders/hpl1_Water_Fog.fragment                        FILE   "engines/hpl1/engine/impl/shaders/hpl1_Water_Fog.fragment"
shaders/hpl1_Water_Fog.vertex                          FILE   "engines/hpl1/engine/impl/shaders/hpl1_Water_Fog.vertex"
shaders/hpl1_refract.fragment                          FILE   "engines/hpl1/engine/impl/shaders/hpl1_refract.fragment"
shaders/hpl1_refract.vertex                            FILE   "engines/hpl1/engine/impl/shaders/hpl1_refract.vertex"
shaders/hpl1_refract_special.fragment                  FILE   "engines/hpl1/engine/impl/shaders/hpl1_refract_special.fragment"
shaders/hpl1_refract_water.fragment                    FILE   "engines/hpl1/engine/impl/shaders/hpl1_refract_water.fragment"
shaders/hpl1_refract_water.vertex                      FILE   "engines/hpl1/engine/impl/shaders/hpl1_refract_water.vertex"
#endif
#if PLUGIN_ENABLED_STATIC(FREESCAPE)
shaders/freescape_bitmap.fragment    FILE    "engines/freescape/shaders/freescape_bitmap.fragment"
shaders/freescape_bitmap.vertex      FILE    "engines/freescape/shaders/freescape_bitmap.vertex"
shaders/freescape_triangle.fragment  FILE    "engines/freescape/shaders/freescape_triangle.fragment"
shaders/freescape_triangle.vertex    FILE    "engines/freescape/shaders/freescape_triangle.vertex"
#endif
#endif
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     SCUMMVM_VER_MAJOR,SCUMMVM_VER_MINOR,SCUMMVM_VER_PATCH,0
 PRODUCTVERSION  SCUMMVM_VER_MAJOR,SCUMMVM_VER_MINOR,SCUMMVM_VER_PATCH,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS       VS_FF_DEBUG
#else
 FILEFLAGS       0
#endif
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "Comments", "Look! A three headed monkey (TM)! .. Nice use of the TM!\0"
            VALUE "CompanyName", "scummvm.org\0"
            VALUE "FileDescription", "ScummVM: A free interpreter for numerous adventure games and role-playing games\0"
            VALUE "FileVersion", SCUMMVM_VERSION "\0"
            VALUE "InternalName", "scummvm\0"
            VALUE "LegalCopyright", "Copyright \xA9 2001-2025 The ScummVM Team\0"
            VALUE "LegalTrademarks", "'SCUMM', and all SCUMM games are a TM of LucasArts. Simon The Sorcerer is a TM of AdventureSoft. Beneath a Steel Sky and Broken Sword are a TM of Revolution. Flight of the Amazon Queen is a TM of John Passfield and Steve Stamatiadis. \0"
            VALUE "OriginalFilename", "scummvm.exe\0"
            VALUE "ProductName", "ScummVM\0"
            VALUE "ProductVersion", SCUMMVM_VERSION "\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 // US English, Unicode
    END
END
