<?xml version="1.0" encoding="utf-8"?>
<!-- NB: android:versionCode needs to be bumped for formal releases -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.scummvm.scummvm"
		android:versionCode="@ANDROID_VERSIONCODE@"
		android:versionName="1.8.0git"
		android:sharedUserId="org.scummvm.scummvm">

	<!-- This version works on Android 2.3 (API Level 9) onwards,
	     but not correctly on Android 4.4 (API Level 19) onwards. -->
	<uses-sdk android:minSdkVersion="9"
			android:targetSdkVersion="9"
			android:maxSdkVersion="18" />

	<application
			android:label="@string/app_name"
			android:description="@string/app_desc"
			android:icon="@drawable/scummvm">
		<activity android:name=".ScummVMActivity"
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:screenOrientation="landscape"
				android:configChanges="orientation|keyboardHidden"
				android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="tv.ouya.intent.category.GAME"/>
			</intent-filter>
		</activity>
	</application>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<!-- Always needs some sort of qwerty keyboard.
			Can work with a D-pad / trackball -->
	<uses-configuration android:reqFiveWayNav="true"
			android:reqKeyboardType="qwerty"/>

	<!-- .. or touchscreen -->
	<uses-configuration android:reqTouchScreen="finger"
			android:reqKeyboardType="qwerty"/>

	<uses-configuration android:reqTouchScreen="stylus"
			android:reqKeyboardType="qwerty"/>
</manifest>
