<?xml version="1.0" encoding="utf-8"?>
<!-- NB: android:versionCode needs to be bumped for formal releases -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.residualvm.residualvm"
		android:versionCode="1000"
		android:versionName="0.2.0git"
		android:installLocation="preferExternal"
		android:sharedUserId="org.residualvm.residualvm">

	<uses-sdk android:minSdkVersion="12"
			android:targetSdkVersion="15" />
	<application android:name=".ResidualVMApplication"
			android:label="@string/app_name"
			android:description="@string/app_desc"
			android:allowBackup="true"
			android:icon="@drawable/residualvm">
		<activity android:name=".ResidualVMActivity"
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:screenOrientation="landscape"
				android:configChanges="orientation|keyboardHidden"
				android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity android:name=".Unpacker"
				android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				android:screenOrientation="landscape"
				android:configChanges="orientation|keyboardHidden">
			<meta-data android:name="org.residualvm.unpacker.nextActivity"
				android:value="org.residualvm.residualvm/.ResidualVMActivity"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="tv.ouya.intent.category.GAME"/>
			</intent-filter>
		</activity>
	</application>

	<permission android:name="org.residualvm.residualvm.permission.RESIDUALVM_PLUGIN"
		android:label="@string/residualvm_perm_plugin_label"
		android:description="@string/residualvm_perm_plugin_desc"
		android:protectionLevel="signature"/>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<!-- Always needs some sort of qwerty keyboard.
			Can work with a D-pad / trackball -->
	<uses-configuration android:reqFiveWayNav="true"
			android:reqKeyboardType="qwerty"/>

	<!-- .. or touchscreen -->
	<uses-configuration android:reqTouchScreen="finger"
			android:reqKeyboardType="qwerty"/>

	<uses-configuration android:reqTouchScreen="stylus"
			android:reqKeyboardType="qwerty"/>

	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
</manifest>
